<link rel="stylesheet" href="/src/partials/ChatItem/chatItem.scss">
<div class="chatItem">
  <div class="userBlock">
    {{> Image/image src=chatItemPhoto alt="chatAvatar" style="chats"}}
    <div class="userBlock__names">
      <p class="userBlock__name">{{chatName}}</p>
      <p class="userBlock__message">
        {{#if lastMessageAuthor}}
          <span class="userBlock__message_darkText">{{lastMessageAuthor}}</span>
        {{/if}}
        {{lastMessage}}
      </p>
    </div>
  </div>
  <div class="chatItem__status">
    <p class="chatItem__time">{{lastMessageTime}}</p>
    {{#if unreadCount}}
      <p class="unreadMessages">{{unreadCount}}</p>
    {{/if}}
  </div>
</div>