<div class="input input_{{style}}">
  {{#if label}}
    <label class="input__label input__label_{{style}}">{{label}}</label>
  {{/if}}
  <input type="{{type}}" name="{{name}}" class="input__text input__text_{{style}}" placeholder="{{placeholder}}" />
</div>
